@import 'reset';
@import 'font';
@import 'variables/colors';
@import 'variables/elementColors';
@import 'variables/radius';
@import 'variables/zIndexes';

.app {
	background: var(--app-background);
	min-height: 100vh;
}
