:root {
	--col-black: #000000;
	--col-light-black: #121212;
	--col-blue-black: #111b21;
	--col-white: #ffffff;

	--col-green: #00a131;

	--col-dark-gray: #616161;
	--col-gray: #737373;
	--col-medium-gray: #808080;
	--col-light-gray: #828282;
	--col-silver: #c4c4c4;

	--col-pink: #cebcbd;
	--col-light-pink: #fde9ec;

	--col-red: #eb4b64;
	--col-light-red: #f67389;

	--col-blue: #448ae0;
	--col-cyan: #b1d4f1;
	--col-light-cyan: #ebfdff;

	--col-transparent-white: #ffffff16;

	--col-gradient-pink: linear-gradient(#f3e9ea, #c5b3b4);
}