:root {
	--app-background: #ffffff;
	--overlay-color: #808080;

	--text-primary: #000000;
	--text-secondary: #616161;
	--text-attn: #f67389;

	--border: #c4c4c4;
	--active-border: #b1d4f1;

	--icon-primary: #828282;

	--input-background: #ffffff;
	--input-attn-background: #fde9ec;
	--input-attn-border: #eb4b64;
	--input-placeholder: #737373;
	--input-attn-placeholder: #eb4b64;
	--input-text: #121212;

	--select-background: #ffffff;
	--select-options-background: #ffffff;
	--select-hover-options-background: #ebfdff;
	--select-icon: #c4c4c4;
	--select-text: #616161;

	--button-background: #448ae0;
	--button-text: #ffffff;

	--checkbox-background: #cebcbd;
	--checkbox-checked-background: #00a131;
	--checkbox-slider: linear-gradient(#f3e9ea, #c5b3b4);

	--form-background: #ffffff;

	--scroll-thumb: #ffffff16;
	--scroll-track: #111b21;
}