:root {
	--font-family-main: 'Roboto', sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-title: 24px;
	--fs-text: 13px;
	--fs-text-attn: 10px;
	--fs-button: 15px;
	--fs-input-placeholder: 15px;
	--fs-input-focus-placeholder: 11px;
	--fs-input-text: 15px;
	--fs-select: 13px;
}